//Tamaño Media Queries 
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "JetBrains Mono", monospace;

//Colores

//neutros
$White: hsl(0, 100%, 100%);
$Black: hsl(0,0%,0%);

//grey
$Grey950: #08070B;
$Grey900: #14131B;
$Grey850: #18171F;
$Grey800: #24232C;
$Grey700: #54535B;
$Grey600: #817D92;
$Grey200: #E6E5EA;


$Green200: #A4FFAF;
$Yellow300: #F8CD65;
$Orange400: #FB7C58;
$Red500: #F64A4A;

$Gradient1: #14131B;
$Gradient2: #08070B;


//Tamaños fuente
$bold: 700;

